### Create the database or Use the Existing database
<pre>
    use < database_name >
</pre>

### Show databases (remember at least one record must be present DB)
<pre>
    show dbs
</pre>

### Show current databases
<pre>
    db
</pre>

### Drop current database
<pre>
    db.dropDatabase()
</pre>

### Create Collections
https://docs.mongodb.com/manual/reference/method/db.createCollection/
<pre>
    db.createCollection( "< collection_name >", < conditions >)
    
    ex
    
    db.createCollection( "students", { capped : true, size : 5000, max : 5 } ) 
    
    In the above code only 5 records can be inserted if you insert the 6th record the first record will be truncated FIFO
    total size should be less than 5000 bytes
</pre>

### Create and add a Data in Collection
<pre>
    db.< collection_name >.insert(< data >)
    
    ex
    
    db.users.insert({
                        title: "MongoDB Practice",
                        description: "MongoDB is NoSql database",
                        by: "Saif Shaikh",
                        url: "http://www.smidsytechnologies.com",
                        tags: ['mongodb', 'database', 'NoSQL'],
                        likes: 100
                        })
</pre>

### Show collections
<pre>
    show collections;
</pre>

### Insert one record

<pre>
    db.empDetails.insertOne({
                                First_Name:"Saif",
                                Last_Name:"Shaikh",
                                Date_Od_Birth:"1991-04-14",
                                e_mail: "melw@g.com",
                                phone:"8197087451"
                            })
</pre>

### Insert Many Record

<pre>

db.< collection_name >.insertMany()

ex

db.empDetails.insertMany(
                        [
                        {
                            First_Name:"Saif1",
                            Last_Name:"Shaikh1",
                            Date_Od_Birth:"1991-04-14",
                            e_mail: "melw1@g.com",
                            phone:"8197087451"
                        },
                        {
                            First_Name:"Saif2",
                            Last_Name:"Shaikh2",
                            Date_Od_Birth:"1991-04-14",
                            e_mail: "melw2@g.com",
                            phone:"8197087451"
                        },
                        {
                            First_Name:"Saif3",
                            Last_Name:"Shaikh3",
                            Date_Od_Birth:"1991-04-14",
                            e_mail: "melw3@g.com",
                            phone:"8197087451"
                        }
                        ]);

</pre>


### Find the data in the collection

<pre>
    db.< collection_name >.find()

    ex
    db.users.find()
    db.empDetails.findOne({phone:"8197087451"})
</pre>

### AND: $and

<pre>
    db.empDetails.find({
                            $and: 
                            [
                                {e_mail: "melw1@g.com"},
                                {phone:"8197087451"}
                            ]
                       }).pretty()
</pre>

### OR: $or

<pre>
    db.empDetails.find({
                            $or: 
                            [
                                {e_mail: "melw3@g.com"},
                                {e_mail: "melw2@g.com"}
                            ]
                       }).pretty()
</pre>

### Update Record

<pre>
    
    db.empDetails.update(
                            {phone:"8197087452"},
                            {$set:{phone:"8197087458",
                                   "e_mail":"alwin@g.com",
                                    "age":40}
                                   },
                            {multi:true}
                        )
                        
   Updates the record having the phone no 8197087452 
   multi: true updates multiple record
   here also we could use $and $or like below example
   
    db.salary.updateMany(
                            { $and: [{"DEPT" :"HR"},{"DESI" :"ASSOCIATE"}]},
                            {$set:{"DESI" : "SR. ASSOCIATE"}}
                         );

</pre>
### Drop Collection

<pre>
       db.< collection_name >.drop()
       
       ex
       
       db.empDetails.drop()
</pre>

### Delete Operations â€“ to remove documents from a collection.
#### db.collection_name.deleteOne() 

<pre>
    db.empDetails.deleteOne({"Last_Name":"Varghese"})
</pre>
#### db.collection_name.deleteMany()
<pre>
    db.empDetails.deleteMany({"Last_Name":"Varghese"})
</pre>

SyntaxError: invalid syntax (Temp/ipykernel_12920/2684040228.py, line 2)