## Aggregating Documents


### Syntax 

<pre>
    db.COLLECTION_NAME.aggregate([AGGREGATE_OPERATION])
</pre>

Example

<pre>
    db.sal.aggregate([{$group: {_id: "$DEPT", TC: {$sum: "$SALARY"}}}])
    
    Output:
    { "_id" : "TEMP", "TC" : 835000 }
    { "_id" : "mis", "TC" : 153767 }
    { "_id" : "OPS", "TC" : 2269422 }
    { "_id" : "HR", "TC" : 1129662 }
    { "_id" : "IT", "TC" : 393511 }
    { "_id" : "ADMIN", "TC" : 657798 }
    
</pre>

<pre>
    db.salary.aggregate(
                            [
                            {$group :
                                {
                                 _id : "$DEPT",
                                 TotalCost :{$sum : "$SALARY"},
                                 Avgsal :{$avg : "$SALARY"},
                                 Minsal :{$min : "$SALARY"},
                                 Maxsal :{$max : "$SALARY"}
                                }
                            }]
                        ); 
                        
    Output:
    
    { "_id" : "HR", "TotalCost" : 1129662, "Avgsal" : 125518, "Minsal" : 51500, "Maxsal" : 298918 }
    { "_id" : "mis", "TotalCost" : 153767, "Avgsal" : 153767, "Minsal" : 153767, "Maxsal" : 153767 }
    { "_id" : "IT", "TotalCost" : 393511, "Avgsal" : 65585.16666666667, "Minsal" : 44650, "Maxsal" : 111461 }
    { "_id" : "ADMIN", "TotalCost" : 657798, "Avgsal" : 73088.66666666667, "Minsal" : 47000, "Maxsal" : 130748 }
    { "_id" : "TEMP", "TotalCost" : 835000, "Avgsal" : 139166.66666666666, "Minsal" : 50000, "Maxsal" : 520000 }
    { "_id" : "OPS", "TotalCost" : 2269422, "Avgsal" : 151294.8, "Minsal" : 55000, "Maxsal" : "NULL" }
</pre>

## Atomic Operations
To maintain atomicity it is recommended to keep all the related information
which is updated together in a single embedded Document.

<pre>
    db.order.Insert(
                        {
                            "_id" : 1,
                            "pdesc" : "Dell Mouse",
                            "category" : "IT" ,
                            "Totalstk": 10,
                            "balanceStk" : 8,
                            “purchasedby" : [
                                                {"cname" : "ajay kumar", "date" : "1-May-2021”},
                                                {"cname" : "ravi sharma", "date" : "2-May-2021”}
                                            ]
                        }
                    );
</pre>

In this example we want when ever the customer order the product,
the availability will be checked, if the stock is available, the balance
should be reduced and the customer information should be added in
the document.

<pre>
    db.order.findAndModify({
                            query: {"_id":1,"balanceStk" :{$gt : 0}},
                            update: {
                                $inc: {"balanceStk" : -1},
                                $push: {"boughtby":{"cname":"Gaurav","date" : Date()}}
                            }
                          }); 
</pre>

<ul>
<li><b>findAndModify()</b> – search for the document and modify it.</li>
<li><b>query</b>: {} – specify the search criteria</li>
<li><b>update</b>: {} – specify the updation in the document</li>
<li>$inc : {} - Increments the value of the field by the specified amount.</li>
<li><b>$push</b>: {} - Adds an item to an arra</li>
</ul>

## Referencing

Inserting the object Id of one document in another
document is known as referencing.

<pre>
db.emp.find().limit(1).pretty();

OUTPUT

{
        "_id" : ObjectId("622b3b35ee8169a354a38bd3"),
        "EID" : 1003,
        "NAME" : "Rajesh Sharma",
        "ADDRESS" : "Sector 11,Dwarka,Delhi",
        "PHONE" : NumberLong("9999001001"),
        "EMAIL" : "RSharma56@gmail.com",
        "DOB" : "3/16/2001",
        "DOJ" : "4/1/2012",
        "SAL" : ObjectId("62299c07085a912e3f7c0216")
}

db.sal.find({"EID":1003}).limit(3).pretty();

OUTPUT

{
        "_id" : ObjectId("62299c07085a912e3f7c0216"),
        "EID" : 1003,
        "DEPT" : "ADMIN",
        "DESI" : "SR MANAGER",
        "SALARY" : 130748
}
</pre>

## $lookup  (aggregation):  Melwin its like Joining the Tables in SQL
<p>
it adds an array of related data from the
other document. It perform an equality match between a field from
the input documents with a field from the documents of the
"joined" collection
</p>

SYNTAX 
db.collectionname.aggregate({

     $lookup:
     {
     from: <collection to join>,
     localField: <field from the input documents>,
     foreignField: <field from the documents of the "from" collection>,
     as: <output array field>
     }
});

<pre>
Example 

db.emp.aggregate([
    {
        $lookup:
        {
            from: "sal" ,
            localField: "EID",
            foreignField: "EID",
            as: "SalDetails" 
        }
    }
]);

output

{
        "_id" : ObjectId("622b3b35ee8169a354a38bd3"),
        "EID" : 1003,
        "NAME" : "Rajesh Sharma",
        "ADDRESS" : "Sector 11,Dwarka,Delhi",
        "PHONE" : NumberLong("9999001001"),
        "EMAIL" : "RSharma56@gmail.com",
        "DOB" : "3/16/2001",
        "DOJ" : "4/1/2012",
        "SAL" : ObjectId("62299c07085a912e3f7c0216"),
        "SalDetails" : [
                {
                        "_id" : ObjectId("62299c07085a912e3f7c0216"),
                        "EID" : 1003,
                        "DEPT" : "ADMIN",
                        "DESI" : "SR MANAGER",
                        "SALARY" : 130748
                }
        ]
}

</pre>

## Drivers

In [4]:
! python -m pip install pymongo

Collecting pymongo
  Downloading pymongo-4.0.2-cp39-cp39-win_amd64.whl (350 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.0.2

In [ ]:
Drivers